body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --my-turquoise: #6dd5ed;
  --my-gradient-turquoise: linear-gradient(to right, #2193b0, #6dd5ed);
  --my-tl-gradient-turquoise: linear-gradient(to left, #2193b0, #6dd5ed);
  --my-dark-grey: #282c34;
}

