.modal {
    position: fixed;
    left: 32%;
    right: 46%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 850px;
    height: 480px;
    border-radius: 70px;
}