@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row-reverse;
    height: 4%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 2vw;
    font-weight: 700;
    border-radius: 20px;
    width: 20vw;
    box-shadow: 3px 3px 10px #a8a8a8;
    background-image: var(--my-gradient-turquoise);
}

.btn:hover {
    cursor: pointer;
}

.errors-deck {
    display: flex;
    justify-content: space-around;
    background-color: #b72626;
    background-image: none;
}

.error-cube {
    color: black;
    background-color: var(--my-gradient-turquoise);
    font-family: "Shadows Into Light",cursive;
    font-size: 3vh;
    font-weight: 600;
}

.mistake-holder {
    height: 95%;
    width: 25%;
    background-color: #540808;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mistake {
    color: white;
    font-family: "Shadows Into Light",cursive;
    font-size: 5vw;
    font-weight: 600;
}

@media screen and (max-width: 1080px) {
    .navbar {
        height: 3.5vh;
    }

    .btn {
        font-size: 3vw;
    }
  }

